{% extends 'base.html' %}
{% load filtros %}

{% block 'conteudo' %}

<div class="container">
    <br>
    <form action="#" method="POST">
     {%csrf_token %}
     
        <p>
        <label>Nome do Livro</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{livro.nome}}">
        </p>
        <p>
        <label>Autor</label>
        <input style="width: 60%;" class="form-control" type="text" value="{{livro.autor}}">
        </p>
        <p>
        <label>Co-Autor</label>
        <input style="width: 60%;"  class="form-control" type="text" value="{{livro.co_autor}}">
        </p>
        <label>Data do cadastro</label>
        <input style="width: 60%;"  class="form-control" type="text" value="{{livro.data_cadastro}}">
        </p>
        <h6 style="display: inline;" class="card-subtitle">Categoria:</h6>
        <select name="categoria">
            {% for i in categoria_livro %}
                {% if livro.categoria.nome == i.nome %}
                <option selected>{{i}}</option>
                {% else %}
                <option>{{i}}</option>
                {% endif %}
            {% endfor%}
        </select>
        <h6 style="display:inline-block;" class="card-subtitle">Emprestado:</h6>
        {% if livro.emprestado %}
            <input style="transform: scale(1.2);" checked type="checkbox" name="Emprestado: ">
        {% else %}
            <input  style="transform: scale(1.2);" type="checkbox" name="Emprestado: ">
        {% endif %}
        <br>
        <br>
        <input type="submit" class="btn btn-md btn-outline-primary" value="Salvar">


    </form>
    <hr>
    <h2>Historico de Emprestimo</h2>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data Emprestimo</th>
            <th scope="col">Data Devolucão</th>
            <th scope="col">Tempo de Duracão</th>
          </tr>
        </thead>
        <tbody>
            {% for i in emprestimos%}
          <tr>
            {% if i.nome_emprestado_anonimo == NONE %}
               <th scope="row">{{i.nome_emprestado}}</th>
            {% else %}
               <th scope="row">{{i.nome_emprestado_anonimo}}</th>
            {% endif %}
            <td>{{i.data_emprestado}}</td>
            <td>{{i.data_devolucao}}</td>
            <td>{{i.data_devolucao|mostra_duracao:i.data_emprestado }} Dias</td>
          </tr>
          {% endfor %}
        </tbody>  
</div>


{% endblock %}